fastapi
prometheus-fastapi-instrumentator
python-multipart
uvicorn
gunicorn
pyyaml
pypdfium2
pytesseract
pdf2image
camelot-py
# needed by camelot-py
ghostscript
# needed by camelot-py
opencv-python
PyPDF2
pikepdf
pytest
pytest-cov
locust
black